body{
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #141415;
	background-color: #e2e2ea;

}


.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height : 100vh;
    background-color: #b6d3ec;
}

.container input {
    background-color: #e0e2f1;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #0e0e0e;
    text-align: center;
    font-size: 16px;
    height: 9%;
    outline: 0;
    padding: 4px 1px 0;
    width: 25%;
}

button {
  background: #5E5DF0;
  border-radius: 10px;
 
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 18px 28px;
  user-select: none;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin: 10px;
}